
#home {
    padding: 4px;
    text-align: center;
    color: white;
    font-family: 'Space Mono', monospace;
    position: absolute;
    text-decoration: none;
}
  
#home:hover {
    background: rgba(128, 128, 128, 0.356);
    cursor: pointer;
}